/* https://coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */

@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  src: url("MerriweatherSans.ttf");
}

@font-face {
  font-family: "Merriweather Sans";
  font-style: italic;
  src: url("MerriweatherSans-Italic.ttf");
}

@font-face {
  font-family: "Fraunces";
  font-style: normal;
  src: url("Fraunces.ttf");
}

@font-face {
  font-family: "Fraunces";
  font-style: italic;
  src: url("Fraunces-Italic.ttf");
}

ol, ul {
  margin: 0;
  padding: 0;
}

:root {
  --background: #fff;
  --brand: #d90429;
  --brand-alternative: #ef233c;
  --contrast-high: #2b2d42;
  --contrast-medium: #8d99ae;
  --contrast-low: #edf2f4;

  --font-family-sans: "Merriweather Sans";
  --font-family-serif: "Fraunces";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c1113;
    --brand: #fb284d;
    --brand-alternative: #da1029;
    --contrast-high: #bdbfd4;
    --contrast-medium: #525e73;
    --contrast-low: #141c1f;
  }
}

html {
  font: 16px var(--font-family-sans);
  line-height: 2rem;
}

body {
  color: var(--contrast-high);
  background: var(--background);
  font-size: 1rem;
  max-width: 60ch;
  margin: 3rem auto;
  padding: 0 2ch;
}

body > header {
  padding-bottom: 2.25rem;
  margin-bottom: 3.25rem;
  border-bottom: 0.5rem solid var(--contrast-low);
  text-align: center;
}

.main-header {
  font: 2rem var(--font-family-serif);
  margin: 0 0 1rem 0;
}

nav {
  font-family: var(--font-family-serif);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav li:not(:last-child):after {
  content: '·';
  margin: 1ch;
}

p {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-serif);
  font-weight: 300;
}

h1 {
  font-size: 1.7rem;
  line-height: 3rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

a {
  color: var(--brand);
  transition: color 150ms;
}

a:hover {
  color: var(--brand-alternative);
}

article header {
  margin-bottom: 2rem;
}

article header time {
  font-family: var(--font-family-serif);
}

article header time a {
  color: var(--contrast-medium);
  text-decoration: none;
}
